# ======================
# 补充的逐文件类型规则
# ======================

# 其他
**/Intermediate/

# 编译中间产物
*.obj
*.pch
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.exe

# 缓存与状态文件
*.VC.db
*.sdf
*.opensdf

# 项目文件（Windows）
*.sln
*.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# 项目文件（其他）
*.xcodeproj
*.workspace
Makefile
CMakeLists.txt

# 日志与临时文件
*.log
*.tmp
*.bak
~*